# --- Python / Backend ---
__pycache__/
*.pyc
venv/
.env
.pytest_cache/

# --- Flutter / Frontend ---
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.pub-cache/
.pub/

# --- Android specific ---
mobile_app/android/local.properties
mobile_app/android/.gradle
mobile_app/android/app/build

# --- iOS specific ---
mobile_app/ios/.generated/
mobile_app/ios/Flutter/Generated.xcconfig
mobile_app/ios/Flutter/app.flx
mobile_app/ios/Flutter/app.zip

# --- IDEs / OS ---
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db